<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>text</key>
            <string>course_xx</string>
            <key>title</key>
            <string>小学</string>
        </dict>
        <dict>
            <key>text</key>
            <string>course_cz</string>
            <key>title</key>
            <string>初中</string>
        </dict>
        <dict>
            <key>text</key>
            <string>course_gz</string>
            <key>title</key>
            <string>高中</string>
        </dict>
        <dict>
            <key>text</key>
            <string>course_rj</string>
            <key>title</key>
            <string>人教版</string>
        </dict>
        <dict>
            <key>text</key>
            <string>course_sj</string>
            <key>title</key>
            <string>苏教版</string>
        </dict>
        <dict>
            <key>text</key>
            <string>course_nj</string>
            <key>title</key>
            <string>牛津版</string>
        </dict>
    </array>
</plist>
