<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>course_xx</string>
		<key>title</key>
		<string>小学</string>
	</dict>
    <dict>
        <key>text</key>
        <string>course_cz</string>
        <key>title</key>
        <string>初中</string>
    </dict>
    <dict>
        <key>text</key>
        <string>course_gz</string>
        <key>title</key>
        <string>高中</string>
    </dict>
    <dict>
        <key>text</key>
        <string>大</string>
        <key>title</key>
        <string>大学</string>
    </dict>
    <dict>
        <key>text</key>
        <string>职</string>
        <key>title</key>
        <string>职业资格</string>
    </dict>
    <dict>
        <key>text</key>
        <string>雅</string>
        <key>title</key>
        <string>雅思</string>
    </dict>
    <dict>
        <key>text</key>
        <string>福</string>
        <key>title</key>
        <string>托福</string>
    </dict>
    <dict>
        <key>text</key>
        <string>四</string>
        <key>title</key>
        <string>四级</string>
    </dict>
    <dict>
        <key>text</key>
        <string>六</string>
        <key>title</key>
        <string>六级</string>
    </dict>
    <dict>
        <key>text</key>
        <string>英</string>
        <key>title</key>
        <string>英语辅导</string>
    </dict>
    <dict>
        <key>text</key>
        <string>公</string>
        <key>title</key>
        <string>公共英语</string>
    </dict>
    <dict>
        <key>text</key>
        <string>专</string>
        <key>title</key>
        <string>英专</string>
    </dict>
</array>
</plist>
