<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>0、鸭蛋</string>
	<string>1、铅笔</string>
    <string>2、鸭子</string>
    <string>3、耳朵</string>
    <string>4、旗子</string>
    <string>5、钩子</string>
    <string>6、勺子</string>
    <string>7、拐杖</string>
    <string>8、葫芦</string>
    <string>9、猫</string>
    <string>10、棒球</string>
    <string>11、筷子</string>
    <string>12、椅儿</string>
    <string>13、医生</string>
    <string>14、钥匙</string>
    <string>15、鹦鹉</string>
    <string>16、石榴</string>
    <string>17、仪器</string>
    <string>18、要发</string>
    <string>19、药酒</string>
    <string>20、香烟</string>
    <string>21、鳄鱼</string>
    <string>22、双喜</string>
    <string>23、耳塞</string>
    <string>24、闹钟</string>
    <string>25、二胡</string>
    <string>26、河流</string>
    <string>27、耳机</string>
    <string>28、恶霸</string>
    <string>29、按钮</string>
    <string>30、三轮车</string>
    <string>31、鲨鱼</string>
    <string>32、扇儿</string>
    <string>33、闪闪</string>
    <string>34、绅士</string>
    <string>35、山虎</string>
    <string>36、山鹿</string>
    <string>37、山鸡</string>
    <string>38、女人</string>
    <string>39、三九感冒灵</string>
    <string>40、司令</string>
    <string>41、司仪</string>
    <string>42、柿儿</string>
    <string>43、石山</string>
    <string>44、蛇</string>
    <string>45、师傅</string>
    <string>46、饲料</string>
    <string>47、司机</string>
    <string>48、石斑鱼</string>
    <string>49、毛泽东</string>
    <string>50、武林盟主</string>
    <string>51、工人</string>
    <string>52、斧儿</string>
    <string>53、武僧</string>
    <string>54、青年节</string>
    <string>55、火车</string>
    <string>56、蜗牛</string>
    <string>57、武器</string>
    <string>58、同城</string>
    <string>59、五角</string>
    <string>60、榴莲</string>
    <string>61、儿童节</string>
    <string>62、柳儿</string>
    <string>63、流沙</string>
    <string>64、螺丝</string>
    <string>65、锣鼓</string>
    <string>66、溜溜球</string>
    <string>67、油漆</string>
    <string>68、喇叭</string>
    <string>69、八卦</string>
    <string>70、冰淇淋</string>
    <string>71、奇异果</string>
    <string>72、企鹅</string>
    <string>73、旗杆</string>
    <string>74、骑士</string>
    <string>75、西湖</string>
    <string>76、气流</string>
    <string>77、机器人</string>
    <string>78、青蛙</string>
    <string>79、气球</string>
    <string>80、巴黎铁塔</string>
    <string>81、白蚁</string>
    <string>82、靶儿</string>
    <string>83、花生</string>
    <string>84、巴士</string>
    <string>85、白虎</string>
    <string>86、白兔</string>
    <string>87、白棋</string>
    <string>88、爸爸</string>
    <string>89、白酒</string>
    <string>90、酒瓶</string>
    <string>91、球衣</string>
    <string>92、球儿</string>
    <string>93、旧伞</string>
    <string>94、调酒师</string>
    <string>95、救护车</string>
    <string>96、九牛</string>
    <string>97、脚气</string>
    <string>98、酒吧</string>
    <string>99、玫瑰</string>
    <string>00、望远镜</string>
</array>
</plist>
